
<div class="custom-dropzone" ngx-dropzone accept="image/jpeg,image/jpg,image/png,image/gif"  [maxFileSize]="5000000" (change)="onSelect($event)">
    <ngx-dropzone-label>Drag and Drop Here!
       <div><span class="bi bi-cloud-arrow-up-fill"></span></div> 
    </ngx-dropzone-label>

<!-- </ngx-dropzone> -->

</div>
<div >
    <ngx-dropzone-image-preview *ngIf="selectedImage"  ngProjectAs="ngx-dropzone-preview" [file]="selectedImage" [removable]="true"
    (removed)="onRemove(selectedImage)">
</ngx-dropzone-image-preview>
</div>
<div ngx-dropzone style="border: 0px !important; ">
    <ngx-dropzone-image-preview style="position: relative;" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true"
        (removed)="onRemove(f)">
        <ngx-dropzone-label>
            <img  class="fav" (click)="setFavImage(f)" src="../../assets/Vector.png" width="100" height="100"/>
        </ngx-dropzone-label>
    </ngx-dropzone-image-preview>
</div>
